<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
</head>
<body>
  <header class="header">
    <nav class="nav">
      <img src="assets/img/bg.png" class="logo nav-link" width="250" height="80">
      <ul class="nav-menu">
          <li class="nav-menu-item">
              <a href="#" class="nav-menu-link nav-link">Libros descargados</a>
          </li>
          <li class="nav-menu-item">
              <a href="#" class="nav-menu-link nav-link">Biblioteca</a>
          </li>
      </ul>
    </nav>
  </header>
  <main>
    <div *ngFor="let book of book">
      <h1>{{book.name}}</h1>
      <h1>{{book.category}}</h1>
      <h1>{{book.description}}</h1>
      <h1>{{book.editorial}}</h1>
      <h1>{{book.file}}</h1>
      <div class="img"[ngStyle]="{backgroundImage: 'url('+book.image+')'}"></div>
      <button class="btn btn-outline-danger" (click)="onClickDelete(book)">Borrar</button>
    </div>
  </main>
</body>
</html>
